body {
    margin:0px;
}

*{
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    padding: 0px;
}

ul li {
    display: inline-block;
}

/*  Mobile layout - Band */

@media screen and (max-width: 600px) {

.band {
    width: 100%;
    position:fixed;
    top:0px;
    left:0px;
    background-color: black;
    z-index: 2;
    height:50px;

}

.band-elements {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:50px;
    /* border: 2px solid white; */

}

.facebookicon {
    padding: 10px;
    padding-left: 0px;
    width: auto ;
    /* border: 1px solid white ; */
}

.facebook {
    padding-left: 10px;
        
}

.contact {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:50px;
    margin:auto;
    width: 100%; 
    /* border: 2px solid blue;   */
    
}
    
.contactphone {
    /* border: 1px solid red; */
    color: white;
    width:120px;
    margin-left: 12px;
}

.contactemail {
    padding-left: 0px;
    width: auto;
    /* border: 2px solid green; */
    height:50px;
    margin-left:12px;
}

.phone {
    
    text-decoration: none;
    color:white;
    /* border: 1px solid white; */
}

.email {
    text-decoration: none;
    color:white;
    padding-left: 10px;
    /* border: 1px solid white; */
}
}


/* Tablet layout - Band   */

@media (min-width: 600px ) and (max-width: 900px){

.band {
    width: 100%;
    position:fixed;
    top:0px;
    left:0px;
    background-color: black;
    z-index: 2;
    height:50px;
    /* border: 1px solid white ; */

}

.band-elements {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:50px;
    /* border: 2px solid white; */

}

.facebookicon {
    display:flex;
    align-items: center;
    justify-content: flex-start;
        color: white;
    height:50px;
    /* border: 1px solid white ; */
}

.facebook {
    padding-left: 20px;    
}

.contact {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    height:50px;
    margin:auto;
    width: 100%; 
    /* border: 2px solid blue;   */
    
}

.contactphone {
    color: white;
    padding-right: 20px;
    /* border: 1px solid red; */
}

.contactemail {
    padding-right: 20px;
    /* border: 2px solid green; */
}

.phone {
    
    text-decoration: none;
    color:white;
    /* border: 1px solid white; */
}

.email {
    text-decoration: none;
    color:white;
    padding-left: 10px;
    /* border: 1px solid white; */
}

.navbar {
    margin-top: 50px;
    max-height:auto;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
    /* border: 2px solid red; */
    
}

.nav-link:hover {
    color: white;
    text-decoration:underline aqua;
}

.navbar-brand {
    color:rgb(8, 8, 141);
    font-size: 25px;
    letter-spacing: -1px;
    font-family:Georgia, 'Times New Roman', Times, serif
    
}

.dropdown-menu li {
    display:block;
    color: black;
}
}

/* Desktop layout - Band   */

@media (min-width: 900px) { 

.band {
    width: 100%;
    position:fixed;
    top:0px;
    left:0px;
    background-color: black;
    z-index: 2;
    height:50px;
}

.band-elements {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:50px;
    /* border: 2px solid white; */

}

.facebookicon {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    height:50px;
        /* border: 2px solid greenyellow; */
}

.contact {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    color: white;  
    height:50px;
    margin-top: 15px;
    /* border: 2px solid red; */
}

.contactphone {
    color: white;
    text-decoration: none;
    padding: 10px; 
    /* border: 2px solid white; */ 
}

.contactemail {
    padding: 10px;
    /* border: 2px solid white; */
}

.facebook {
    color: white;
    text-decoration: none;
    padding-left: 10px; 
    padding:10px;
    padding-left: 100px;
}

.phone {
    color: white;
    text-decoration: none;
    padding: 10px;   
}

.email {
    color: white;
    text-decoration: none;
    padding: 10px; 
}

.contact li a:hover {
    color:aqua;
}
}

/* navbar general */

.navbar {
    margin-top: 50px;
    max-height:auto;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
}

.collapse {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-item {
    padding-right:5px;
}

.nav-item dropdown {
    padding-right: 5px;
}

.dropdown-menu li a {
    color: black;
}

.nav-link {
    color: white;
    font-size: 17px;
}

.nav-link:hover {
    color: white;
    text-decoration:underline aqua;
}

.navbar-brand {
    color:rgb(8, 8, 141);
    font-size: 25px;
    letter-spacing: -1px;
    font-family:Georgia, 'Times New Roman', Times, serif   
}


/* Mobile layout dropdown servicii */

@media screen and (max-width: 600px) {

.dropdown-menu li {
    display:block;
}
}

/* Mobile layout content homepage and footer */

@media screen and (max-width: 600px) {

.container-body {
    display:block;
    width: 100%;
    /* border: 2px solid red; */
}

.container-text {
    color:rgb(8, 8, 141);
    align-items:center;
    padding-bottom: 30px;
    /* border: 2px solid green; */

}

.container-antet {
    display:flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
        /* border: 2px solid red; */
}
    
.container-text h4 {
    display:flex;
    align-items: center;
    justify-content: space-around;
    color:rgb(8, 8, 141);
    font-size:17px;
    padding-bottom: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container-text p {
    display:flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 20px;
    color:black;
}

.container-image {
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid blue; */
    height:300px;
    width: auto;
    /* border: 2px solid black; */
}

.body-image {
position: absolute;
width:100%;
height: 100%;
top: 0px;
left: 0px;
object-fit:cover;
border-radius: 50px;
padding: 15px;
}

.footer {
    margin-top: 50px;
    background-color: rgb(8, 8, 141);
    color: white;
    padding:30px;
}

.about-us {
    border-bottom: 1px solid white;
}

.utils {
    padding:30px 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.contact-details {
    padding:30px 0px;
    margin-bottom: -20px;
    border-bottom: 1px solid white;

}

.footer-list li {
    display: block;
    padding:2px;
    
}

.footer-list li a {
    text-decoration: none;
    /* padding-left: 20px; */
}

.bottom-band {
    background-color: rgb(8, 8, 141);
    color: white;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 70px;
    padding-bottom: 3px;

}

.bottom-band a {
    color:aqua;
    text-decoration: none;
}

.bottom-band a:hover {
    color: rgb(5, 197, 197);
}
}

/* tablet layout - content homepage and footer */

@media (min-width: 600px ) and (max-width: 900px){

.container-body {
    display:block;
    width: 100%;
    /* border: 2px solid red; */
}

.container-text {
    color:rgb(8, 8, 141);
    align-items:center;
    padding-bottom: 30px;
    /* border: 2px solid green; */

}

.container-antet {
    display:flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
        /* border: 2px solid red; */
}
    
.container-text h4 {
    display:flex;
    align-items: center;
    justify-content: space-around;
    color:rgb(8, 8, 141);
    font-size:25px;
    padding-bottom: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container-text p {
    display:flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 20px;
    color:black;
}

.container-image {
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid blue; */
    height:500px;
    width: auto;
    /* border: 2px solid black; */
}

.body-image {
position: absolute;
width:100%;
height: 100%;
top: 0px;
left: 0px;
object-fit:cover;
border-radius: 50px;
padding: 15px;
}

.footer {
    margin-top: 50px;
    background-color: rgb(8, 8, 141);
    color: white;
    padding:30px;
}

.about-us {
    border-bottom: 1px solid white;
}

.utils {
    padding:30px 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.contact-details {
    padding:30px 0px;
    margin-bottom: -20px;
    border-bottom: 1px solid white;

}

.footer-list li {
    display: block;
    padding:2px;
    
}

.footer-list li a {
    text-decoration: none;
    /* padding-left: 20px; */
}

.bottom-band {
    background-color: rgb(8, 8, 141);
    color: white;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 70px;
    padding-bottom: 3px;

}

.bottom-band a {
    color:aqua;
    text-decoration: none;
}

.bottom-band a:hover {
    color: rgb(5, 197, 197);
}
}

/* Desktop layout content homepage and footer */

@media (min-width: 900px) { 
.container-body {
    display:flex;
    height:590px;
    width: 100%;
    margin-top: 20px;
    /* border: 2px solid red; */
}

.container-antet {
    display:flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    /* padding-left: 260px; */
    padding-top: 20px;
    padding-bottom: 0px;
    /* border: 2px solid red; */
}

.container-text h4 {
    display:flex;
    justify-content: space-around;
    color:rgb(8, 8, 141);
    font-size:30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: -1px;
}

.container-text {
    padding-bottom: 50px;
    width: 50%;
    /* border: 2px solid green; */
}

.container-image {
    display:flex;
    justify-content: space-around;
    position:relative;
    height:inherit;
    width: 50%;
    /* border: 2px solid black; */
}

.body-image {
position: absolute;
width:100%;
height: 100%;
top: 0px;
left: 0px;
object-fit:cover;
border-radius: 50px;
padding-right: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    background-color: rgb(8, 8, 141);
    color: white;
    padding:35px;
    margin-top: 500px;
}

.about-us {
    padding:10px;
    width:35%;
    border-bottom: 1px solid white;
    padding-bottom: -25px;
    margin-bottom: -25px;
}

.contact-details {
    padding:10px;
    width:32%;
    border-bottom: 1px solid white;
    padding-bottom: -25px;
    margin-bottom: -25px;
    /* border: 1px solid red; */
}

.utils {
    padding: 10px 109px;
    width: 32%;
    border-bottom: 1px solid white;
    padding-bottom: -25px;
    margin-bottom: -25px;
    /* border: 1px solid green; */    
}

.container-text p {
    padding-left: 30px;
    color:black;
}

.footer-list li {
    display: block;
    padding:2px;
    
}

.footer-list li a {
    text-decoration: none;
    /* padding-left: 20px; */
}

.bottom-band {
    background-color: rgb(8, 8, 141);
    color: white;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.bottom-band a {
    color:aqua;
    text-decoration: none;
}

.bottom-band a:hover {
    color: rgb(5, 197, 197);
}
}

/* Mobile layout - termalplants page */

@media (max-width: 600px) {
.content {
    display:block;
    /* border: 1px solid red; */
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
} 

.titlepage {
    background-color: white;
    height:auto;
    width: 100%;
    border-radius: 20px;
    padding:10px;
    padding-top: 30px;
    
}

h2 {
    /* color: red; */
    color: rgb(8, 8, 141);
    text-align: center;
    padding-bottom: 30px;
}

.titlepage p {
    padding-bottom: 30px;
}

.element {
    /* border: 2px solid lightgray; */
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: -15px;
    box-shadow: 0px 0px 2px grey;
    background-color: aliceblue;

}

.element:hover {
    box-shadow: 0px 0px 10px grey;
}

.element a {
    color: grey;
    text-decoration: none;
}

.element a:hover {
    color: rgb(8, 8, 141);
    
}
}

/* Tablet layout -  termalplants page  */

@media (min-width: 600px ) and (max-width: 900px){
.content {
    display:block;
    /* border: 1px solid red; */
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
} 

.titlepage {
    background-color: white;
    height:auto;
    width: 100%;
    border-radius: 20px;
    padding:10px;
    padding-top: 30px;
    
}

h2 {
    /* color: red; */
    color: rgb(8, 8, 141);
    text-align: center;
    padding-bottom: 30px;
}

.titlepage p {
    padding-bottom: 30px;
}

.element {
    /* border: 2px solid lightgray; */
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: -15px;
    box-shadow: 0px 0px 2px grey;
    background-color: aliceblue;

}

.element:hover {
    box-shadow: 0px 0px 10px grey;
}

.element a {
    color: grey;
    text-decoration: none;
}

.element a:hover {
    color: rgb(8, 8, 141);
    
}
}

/* Desktop layout - termalplants.html */

@media (min-width: 900px) {

.content {
    display:block;
    max-width:1200px;
    height: 700px;
    /* border: 1px solid red; */
    margin-top: 50px;
    margin-left: 135px;
    /* margin-right: 10px; */
} 

.titlepage {
    background-color: white;
    height:auto;
    width: 100%;
    /* border-radius: 20px; */
    padding:10px;
    padding-top: 30px;
    
}

h2 {
    /* color: red; */
    color: rgb(8, 8, 141);
    text-align: center;
    padding-bottom: 50px;
}

.titlepage p {
    padding-left: 65px;
}

.element {
    /* border: 2px solid lightgray; */
    border-radius: 20px;
    padding: 10px;
    margin: 50px;
    box-shadow: 0px 0px 2px grey;
    background-color: aliceblue;

}

.element:hover {
    box-shadow: 0px 0px 10px grey;
}

.element a {
    color: grey;
    text-decoration: none;
}

.element a:hover {
    color: rgb(8, 8, 141);
    
}
}

/* Mobile layout - rsvti page */

@media (max-width: 600px) {
.content-rsvti {
    display:block;
    /* border: 1px solid red; */
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
} 

.content-rsvti p {
    margin-top: 10px;
    padding:10px;
}

.subelement {
    /* border: 2px solid lightgray; */
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 2px grey;
    background-color: aliceblue;
}

.subelement:hover {
    box-shadow: 0px 0px 10px grey;
}
}

/* Tablet layout -  rsvti page  */
@media (min-width: 600px ) and (max-width: 900px){

.content-rsvti {
    display:block;
    /* border: 1px solid red; */
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
} 

.content-rsvti p {
    margin-top: 10px;
    padding:10px;
}

.subelement {
    /* border: 2px solid lightgray; */
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 2px grey;
    background-color: aliceblue;
}

.subelement:hover {
    box-shadow: 0px 0px 10px grey;
}
}

/* Desktop layout -  rsvti page  */

@media (min-width: 900px) {

.content-rsvti {
    display:block;
    max-width:1100px;
    height: 475px;
    /* border: 1px solid red; */
    margin-top: 50px;
    margin-left: 190px;
    padding-top: 40px;
    /* margin-right: 10px; */
}

.subelement {
    /* border: 2px solid lightgray; */
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 0px 2px grey;
    background-color: aliceblue;

}

.subelement:hover {
    box-shadow: 0px 0px 10px grey;
}

.content-rsvti p {
    padding-left: 20px;
}
}

/* Mobile layout - Consult. autoriz. */

@media (max-width: 600px) {

.content-rsvti p {
    padding-left: 20px;

}

.rootlist {
    padding-left: 30px;
    /* list-style-type:circle; */

}

.subelementconsult {
    display:block;
    list-style-type:disc;

}

.subelementconsult:hover {
    color: rgb(8, 8, 141);
}

seaplink {
    text-decoration: none;
    color: rgb(8, 8, 141);
    
}
}

/* Tablet layout -  Cosult autoriz  */

@media (min-width: 600px ) and (max-width: 900px){
.content-rsvti p {
    padding-left: 30px;

}

.rootlist {
    padding-left: 40px;
    /* list-style-type:circle; */

}

.subelementconsult {
    display:block;
    list-style-type:disc;

}

.subelementconsult:hover {
    color: rgb(8, 8, 141);
}

seaplink {
    text-decoration: none;
    color: rgb(8, 8, 141);
    
}
}

/* Desktop layout -  Cosult autoriz  */

@media (min-width: 900px) {

.rootlist {
    padding-left: 50px;
    /* list-style-type:circle; */

}

.subelementconsult {
    display:block;
    list-style-type:disc;


}

.subelementconsult:hover {
    color: rgb(8, 8, 141);
    
    

}
}

/* Mobile layout - Autorizatii */

@media (max-width: 600px) {

.title-autorizatii {
    margin-top: 50px;
}

.content-autorizatii {
    display:block;
    width: auto;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    /* margin-right: 20px; */
    /* border: 2px solid red; */
} 

.image-container {
    background-color: aliceblue;
    width: auto;
    height: 653px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgrey;
    position: relative;
    /* border: 2px solid green; */
    margin-bottom: 50px;
}

.image-container:hover {
    box-shadow: 0px 0px 20px lightgrey;
}

.image-aut {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: contain;
    /* border: 2px solid blue; */
    /* padding-right: 20px; */
    /* opacity: -5; */
    padding-top: 15px;
}

.image-info {
    position: relative;
    top: 600px;
    text-align: center;
    /* border: 2px solid aqua; */
    padding-top: 10px;

}
}

/* Tablet layout - Autorizatii */

@media (min-width: 600px ) and (max-width: 900px){

.title-autorizatii {
    margin-top: 50px;
}

.content-autorizatii {
    display:block;
    max-width:500px;
    width: auto;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 130px;
    margin-right: 10px;
    /* margin-right: 20px; */
    /* border: 2px solid red; */
} 

.image-container {
    background-color: aliceblue;
    width: auto;
    height: 653px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgrey;
    position: relative;
    /* border: 2px solid green; */
    margin-bottom: 50px;
}

.image-container:hover {
    box-shadow: 0px 0px 20px lightgrey;
}

.image-aut {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: contain;
    /* border: 2px solid blue; */
    /* padding-right: 20px; */
    /* opacity: -5; */
    padding-top: 15px;
}

.image-info {
    position: relative;
    top: 600px;
    text-align: center;
    /* border: 2px solid aqua; */
    padding-top: 10px;

}
}

/* Desktop layout - Autorizatii */

@media (min-width: 900px) {

.title-autorizatii {
    margin-top: 50px;
}

.content-autorizatii {
    display:flex;
    max-width:1200px;
    width: auto;
    /* height: 100%; */
    justify-content: space-between;
    margin-left: 140px;
    /* border: 2px solid red; */
} 

.image-container {
    background-color: aliceblue;
    width: 285px;
    height: 455px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgrey;
    position: relative;
    /* border: 2px solid green; */
}

.image-container:hover {
    box-shadow: 0px 0px 20px lightgrey;
}

.image-aut {
    width: 285px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: contain;
    /* border: 2px solid blue; */
    /* padding-right: 20px; */
    /* opacity: -5; */
}

.image-info {
    position: relative;
    top: 400px;
    text-align: center;
    /* border: 2px solid aqua; */
    padding-top: 10px;
}
}

.content-autorizatii .popup-image {
    position: fixed;
    top:0; left: 0;
    /* background: rgba(0,0,0,.9); */
    background: aliceblue;
    height: 100%;
    width: 100%;
    z-index: 100;
    display:none;
    /* border: 2px solid red; */
}

.content-autorizatii .popup-image span {
    position: absolute;
    top:0; right:10px;
    font-size: 60px;
    font-weight: bolder;
    /* color: #fff; */
    color: rgb(8, 8, 141);
    cursor:pointer;
    z-index: 100;
    /* border: 2px solid blue; */

}

.content-autorizatii .popup-image img {
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width:auto;
    height: 700px;
    object-fit: contain;
    /* border: 2px solid green; */
}

@media (max-width:768px) {
.content-autorizatii .popup-image img{
    width: 95%;

}
}

/* Mobile layout - Contact */

@media (max-width: 600px) {
.container-text h6 {
    padding-left: 35px;
    color:black;
}

.contactpage-list {
    padding: 20px 35px;
    /* border: 2px solid red;    */
}

.contact-link {
    text-decoration: none;
    /* border: 2px solid green; */
} 

.contactpage-list li i {
    color: blue;
}
}

/* Tablet layout - Contact */

@media (min-width: 600px ) and (max-width: 900px){

.container-text h6 {
    padding-left: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:black;
}

.contactpage-list {
    padding: 10px 65px;
    /* border: 2px solid red;  */
    margin-right: 295px;  
}

.contact-link {
    text-decoration: none;
    /* border: 2px solid green; */
} 

.contactpage-list li i {
    color: blue;
}
}


/* Desktop layout - Contact */

@media (min-width: 900px) {

.container-text h6 {
    padding-left: 178px;
    color:black;
    padding-bottom: 20px;
}

.contactpage-list {
    padding-left: 72px;
    /* border: 2px solid red;  */
    height:auto;
    margin-left: 95px;

}

.contactpage-list li {
    display:block;
    margin-left: 10px;
    /* margin-bottom: 10px; */
     /* border: 2px solid orchid; */
}

.contact-link {
    text-decoration: none;
    /* border: 2px solid green; */
} 

.contactpage-list li i {
    color: blue;
}
}

/* Mobile layout - Servicii */

@media (max-width: 600px) {

.title-servicii {
    margin-top: 50px;
}

.content-servicii {
    display:block;
    width: auto;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    /* border: 2px solid red; */
} 

.image-box {
    background-color: aliceblue;
    width: auto;
    height: 603px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgrey;
    position: relative;
    /* border: 2px solid green; */
    margin-bottom: 50px;
}

.image-box:hover {
    box-shadow: 0px 0px 20px lightgrey;
}

.image-serv {
    width: 100%;
    height: 550px;
    position: absolute;
    top: 0px;
    left: 0px;
    /* right: 0px; */
    /* margin-right: 0px; */
    object-fit: cover;
    /* border: 2px solid blue; */
    padding-right: 20px;
    /* margin-right: 1500px; */
    /* opacity: -5; */
    /* padding-right: 2px; */
}

.image-description {
    position: relative;
    top: 550px;
    text-align: center;
    /* border: 2px solid aqua; */
    padding-top: 10px;
    /* text-decoration: none; */

}

.image-description a {
    text-decoration: none;
    color:black;
}

.image-description a:hover {
    color: rgb(8, 8, 141);
}   
}

/* Tablet layout - Servicii */

@media (min-width: 600px ) and (max-width: 900px){

.title-servicii {
    margin-top: 50px;
}

.content-servicii {
    display:block;
    max-width:500px;
    width: auto;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 130px;
    margin-right: 10px;
    /* border: 2px solid red; */
} 

.image-box {
    background-color: aliceblue;
    width: auto;
    height: 603px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgrey;
    position: relative;
    /* border: 2px solid green; */
    margin-bottom: 50px;
}

.image-box:hover {
    box-shadow: 0px 0px 20px lightgrey;
}

.image-serv {
    width: 100%;
    height: 550px;
    position: absolute;
    top: 0px;
    left: 0px;
    /* right: 0px; */
    /* margin-right: 0px; */
    object-fit: contain;
    /* border: 2px solid blue; */
    /* padding-right: 100px; */
    /* margin-right: 1500px; */
    /* opacity: -5; */
    /* padding-right: 2px; */
}

.image-description {
    position: relative;
    top: 550px;
    text-align: center;
    /* border: 2px solid aqua; */
    padding-top: 10px;
    /* text-decoration: none; */

}

.image-description a {
    text-decoration: none;
    color:black;
}

.image-description a:hover {
    color: rgb(8, 8, 141);
}   
}


/* Desktop layout - Servicii */

@media (min-width: 900px) {

.title-servicii {
    margin-top: 50px;
}

.content-servicii {
    display:flex;
    max-width:1200px;
    width: auto;
    /* height: 100%; */
    justify-content: space-between;
    margin-left: 140px;
    /* border: 2px solid red; */
} 

.image-box {
    background-color: aliceblue;
    width: 285px;
    height: 455px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgrey;
    position: relative;
    /* border: 2px solid green; */
}

.image-box:hover {
    box-shadow: 0px 0px 20px lightgrey;
}

.image-serv {
    width: 285px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: contain;
    /* border: 2px solid blue; */
}

.image-description {
    position: relative;
    top: 400px;
    text-align: center;
    /* border: 2px solid aqua; */
    padding-top: 10px;
}

.image-description a {
text-decoration: none;
color:black;
}

.image-description a:hover {
color: rgb(8, 8, 141);
}   
}


/* Mobile layout - Termeni */

@media (max-width: 600px) {

.content-termeni h2 {
    padding-top: 50px;
}

#termenisiconditii {
    padding: 5px 20px;
}
}

/* Tablet layout - Termeni */

@media (min-width: 600px ) and (max-width: 900px){

.content-termeni h2 {
    padding-top: 50px;
}

#termenisiconditii {
    padding: 5px 20px;
}
}


/* Desktop layout - Termeni */

@media (min-width: 900px) {
.content-termeni h2 {
    padding-top: 70px;
}

#termenisiconditii {
    padding: 10px 180px;
    /* border: 2px solid red; */
    margin-bottom: -460px;
}
}

/* Mobile layout - About as/Portofoliu */

@media (max-width: 600px) {

.about-text {
    padding-right:20px;
    /* border: 2px solid red; */
}

#button-servicii {
   margin-left: 25px;
   background-color: rgb(8, 8, 141);
   color: white;
   padding: 5px;
   border-radius: 7px;
   box-shadow: 0px 0px 2px grey;
}

#button-servicii:hover {
    box-shadow: 0px 0px 7px grey;
}

#button-servicii a {
    text-decoration: none;
   
}

.portofoliu {
    margin-left:5px;
    /* border: 2px solid red; */
}
}

/* Tablet layout - About as/Portofoliu */

@media (min-width: 600px ) and (max-width: 900px){

#about-text {
    padding-right:20px;
    padding-top: 10px;
    /* border: 2px solid red; */
}

#button-servicii {
    margin-left: 25px;
    background-color: rgb(8, 8, 141);
    color: white;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0px 0px 2px grey;
}

#button-servicii:hover {
    box-shadow: 0px 0px 7px grey;
}

#button-servicii a {
    text-decoration: none;
    
}
}

/* Desktop layout - About as/Portofoliu */

@media (min-width: 900px) {

#about-text {
    padding-left:30px;
    padding-right: 30px;
    margin-bottom: 5px;
    /* border: 2px solid red; */
}

#button-servicii {
    
    background-color: rgb(8, 8, 141);
    color: white;
    margin-left: 25px;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0px 0px 2px grey;
}
    
#button-servicii:hover {
    box-shadow: 0px 0px 7px grey;
}

#button-servicii a {
    text-decoration: none;
    
}

.portofoliu {
    margin-left:5px;
    margin-bottom: 25px;
    /* border: 2px solid red; */
}
}



















